@model IEnumerable<FinanceManagement.ETL.Models.ImportFileBatch>

<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Import File Batches</h4>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ImportFileType</th>
                <th scope="col">DateCreated</th>
                <th scope="col">Status</th>
                <th scope="col">FileName</th>
                <th scope="col">Record Count</th>
                <th scope="col">Error Count</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var batch in Model)
            {
                <tr>
                    <th scope="row">@batch.ImportFileBatchId</th>
                    <td>@batch.ImportFileType.Description</td>
                    <td>@batch.DateCreated</td>
                    <td>@batch.ImportFileBatchStatus</td>
                    <td>@batch.ImportFileName</td>
                    <td>@batch.RecordCount</td>
                    <td>@batch.ImportFileBatchErrorCount</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>