@model FinanceManagement.ETL.Models.ImportFileType

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<ul class="list-group">
    <li class="list-group-item">@Model.ImportFileTypeId</li>
    <li class="list-group-item">@Model.Description</li>
    <li class="list-group-item">@Model.IsActive</li>
    <li class="list-group-item">@Model.StagingTable</li>
    <li class="list-group-item">@Model.FileNamePattern</li>
    <li class="list-group-item">@Model.FileExtension</li>
    <li class="list-group-item">@Model.PostLoadProcedure</li>

</ul>

